<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>¡Cuenta Creada!</h1>
        <hr>
        <h4>Estas cerca de tener a tu dispocición lo que el mundo dice en un solo sitio.</h4>
        <br>
          <a class="centered" [routerLink]="['/login']">Ingresar</a> 
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <div class="my-2"></div>
        <img src="../../assets/success.svg" class="center">
      </div>
      <div class="col-lg-1">
        </div>
    </div>
  </div>
