<nav class="navbar navbar-light bg-light">
  <a [routerLink]="['/dashboard']" class="navbar-brand">EfiTwitter</a>
  <form class="form-inline">
    <div class="d-flex align-items-center h-100">
      <p class="my-auto">Bienvenido, {{username}}</p>
    </div>
    <div class="mx-2"></div>
    <input class="form-control mr-sm-2"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"    
      [ngModelOptions]="{standalone: true}" 
      id="typeahead-basic" 
      type="text" 
      class="form-control" 
      [(ngModel)]="user" 
      [ngbTypeahead]="search" 
      (mouseenter)="getAllUsers()"/>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="find()">Buscar</button>
    <div class="mx-2"></div>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="exit()">Salir</button>
  </form>
</nav>
