
.container {
    width: 100%;
    margin:0px !important;
    padding: 0px !important;
    max-width: unset;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 216, 216);
    text-align: center;
 }


 .twett {
    display: block;
    width: 100%;
    resize: none;
    height: calc(4.25rem + 8px);
    padding: .375rem .75rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.scroll{
    overflow-y: scroll;
    height:70vh;
}


 
 
