h3{
    font-size: 2rem;
  }
  
  small{
    text-align: left;
  }
  
  .text-muted-error{
    color: #FF3741!important;
  }
  /*Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {  
    .hello {
      padding-top: 30%;
      padding-bottom: 80%;
      background-color: rgb(0, 121, 175);
    }  
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .hello {
      padding-top: 14%;
      padding-bottom: 100% auto;
      background-color: rgb(0, 121, 175);
    }  
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .hello {
      padding-top: 16%;
      padding-bottom: 70%;
      background-color: rgb(0, 121, 175);
    }  
   }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .hello {
      padding-top: 11%;
      padding-bottom: 25%;
      background-color: rgb(0, 121, 175);
    }  
   }
  
  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .hello {
      padding-top: 11%;
      padding-bottom: 25%;
      background-color: rgb(0, 121, 175);
    }  
   }
  
  .form {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background: #FFFFFF;
    max-width: 330px;
    min-width: 270px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form div{
    margin: 0 0 18px;
  }
  
  .form button.user-login{
    background:  rgb(0, 121, 175);
    border-color:  rgb(0, 121, 175);
    color: #fff;
  }
  
  .form button.user-login.focus, .form button.user-login:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,141,152,0.5);
    box-shadow: 0 0 0 0.2rem rgba(0,141,152,0.5);
  }
  
  .form button.disable{
    background: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
  }
  
  .alert-properties{
    text-align: center;
    margin: 0 0 4px;
  }
  
  