<div class="hello">    
<div class="login-page">
    <div class="container">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
        <div class="row">
                <div class="form">
                    <h2>Regístrate</h2>
                    <hr/>
                    <form (ngSubmit)="onSubmit()" #userRegisterForm="ngForm">
                        <div>
                        <input class="form-control form-control-md"
                        type="text" 
                        placeholder="@NombreUsuario" 
                        required 
                        minlength="3" 
                        pattern="@[a-zA-Zóáéíú ]*"
                        [(ngModel)]="dto.username" 
                        name="username" 
                        #username="ngModel"
                        [ngClass]="{'is-valid': username.valid && username.touched, 'is-invalid': username.invalid && username.touched}">
                        <small *ngIf="username.invalid && username.touched" class="form-text text-muted-error">El nombre de usuario ingresado no es válido</small>
                        </div>
                        <div>
                        <input class="form-control form-control-md"
                        type="text" 
                        placeholder="Nombre" 
                        required 
                        minlength="3" 
                        pattern="[a-zA-Zóáéíú ]*"
                        [(ngModel)]="dto.name" 
                        name="name" 
                        #name="ngModel"
                        [ngClass]="{'is-valid': name.valid && name.touched, 'is-invalid': name.invalid && name.touched}">
                        <small *ngIf="name.invalid && name.touched" class="form-text text-muted-error">El nombre ingresado no es válido</small>
                        </div>
                        <div>
                            <input class="form-control form-control-md"
                            type="text" 
                            placeholder="Apellido" 
                            required 
                            minlength="3"
                            pattern="[a-zA-Zóáéíú ]*"
                            [(ngModel)]="dto.lastname" 
                            name="lastname" 
                            #lastname="ngModel"
                            [ngClass]="{'is-valid': lastname.valid && lastname.touched, 'is-invalid': lastname.invalid && lastname.touched}">
                            <small *ngIf="lastname.invalid && lastname.touched"
                                class="form-text text-muted-error">
                                El apellido ingresado no es válido
                            </small>
                        </div>
                        <div>
                            <input class="form-control form-control-md"
                            type="email" 
                            placeholder="Email" 
                            required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                            [(ngModel)]="dto.email" 
                            (ngModelChange)="valuechange($event)"
                            name="email" 
                            #email="ngModel"
                            [ngClass]="{'is-valid': email.valid && email.touched, 'is-invalid': email.invalid && email.touched}">
                            <small *ngIf="email.invalid && email.touched && email.pristine"
                            class="form-text text-muted-error">
                            ¡Debes ingresar una dirección email!
                            </small>
                            <small *ngIf="email.invalid && email.touched && email.dirty"
                            class="form-text text-muted-error">
                            Email no válido
                            </small>
                            <small *ngIf="registeredEmailError"
                            class="form-text text-muted-error">
                            Ya se ha registrado una cuenta con este correo.
                            </small>
                        </div> 
                        <div>
                            <input class="form-control form-control-md"
                            type="password" 
                            placeholder="Contraseña" 
                            required
                            minlength="6"
                            validateEqual="confirmPassword" 
                            reverse="true" 
                            [(ngModel)]="dto.password" 
                            name="password" 
                            #password="ngModel"
                            [ngClass]="{'is-valid': password.valid && password.touched, 'is-invalid': password.invalid && password.touched}">
                            <small *ngIf="password.invalid && password.touched || password.pristine && password.touched"
                            class="form-text text-muted-error">
                            La contraseña es requerida
                        </small>
                        </div>
                        <div>
                            <input class="form-control form-control-md"
                            type="password" 
                            placeholder="Confirmar contraseña" 
                            required 
                            validateEqual="password" 
                            reverse="false" 
                            [(ngModel)]="dto.matchingPassword" 
                            name="confirmPassword" 
                            #confirmPassword="ngModel"
                            [ngClass]="{'is-valid': confirmPassword.valid && confirmPassword.touched, 'is-invalid': confirmPassword.invalid && confirmPassword.touched}">
                            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine)" class="form-text text-muted-error">
                            La contraseña debe coincidir
                            </small>
                        </div> 
                        <button type="submit"
                        class="btn btn-md btn-block"
                        [ngClass]="{enable: userRegisterForm.form.valid, disable: !userRegisterForm.form.valid}" 
                        [disabled]="!userRegisterForm.form.valid">
                        Registrarse
                        </button>
                        <hr/>
                        <a [routerLink]="['']">Volver</a>
                    </form>
                </div>
        </div>
    </div>
</div>
</div>