h2{
    font-size: 30px;
  }
  
  small{
    text-align: left;
  }
  
  .space{
    height: 8px
  }
  .alert{
    padding: 4px;
    text-align: left;
    font-size: 13px;
  }
  
  .text-muted-error{
    color: #FF3741!important;
  }
  /*Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {  
    .hello {
      padding-top: 30%;
      padding-bottom: 28%;
      background-color: grey;
    }      
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .hello {
      padding-top: 14%;
      padding-bottom: 4%;
      padding-bottom: 100% auto;
      background-color: grey;
 
    }
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .hello {
      padding-top: 14%;
      padding-bottom: 42%;
      background-color: grey;
 
    }
   }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .hello {
      padding-top: 10%;
      padding-bottom: 14%;
      background-color: grey;
 
    }
   }
  
  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .hello {
      padding-top: 8%;
      padding-bottom: 14%;
      background-color: grey;

    }
   }
  
  .form {
    position: relative;
    margin: auto;
    z-index: 1;
    background: #FFFFFF;
    max-width: 330px;
    min-width: 330px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form div{
    margin: 0 0 10px;
  }
  
  .form div input {
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form div select {
    width: 100%;
    font-size: 14px;
    height: 41px;
  }
  
  .form button.enable{
    background: rgb(0, 121, 175); 
    border-color: rgb(0, 121, 175);
    color: #FFFFFF;
  }
  
  .form button.enable.focus, .form button.enable:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,141,152,0.5);
    box-shadow: 0 0 0 0.2rem rgba(0,141,152,0.5);
  }
  
  .form button.disable{
    background: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
  }
  
  .alert-properties{
    text-align: center;
    margin: 0 0 4px;
  }
  
  .justify {
    text-align: justify;
  }