<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop:true }"></ngx-loading>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-2 col-lg-2 background">
    </div>
    <div class="col-8 col-lg-8">
    <div class="my-1"></div>
      <div class="form-group">
        <label for="message">Escribe un EfiTwett:</label>
        <textarea 
            class="form-control" 
            id="message" 
            rows="3"
            placeholder="Escribe un mensaje"
            maxlength="140"
            required 
            [(ngModel)]="efiTweet" 
            name="message"
            #message="ngModel">
        </textarea>
        <small class="form-text text-muted">El mensaje no debe superar los 140 caracteres.</small>
          <div class="my-2"></div>
          <button (click)="publishTwett()" class="btn btn-primary">Publicar</button>
      </div>
      <hr>
      <div class="row scroll">
        <div *ngFor='let message of messages' class="col-12 col-lg-12">
          <div class="twett">
            <p>{{message.content}}</p>
        </div>
        </div>
        <div *ngIf='noFoundMessages()' class="col-12 col-lg-12">
          <div class='d-flex text-center'>
            <p class="text-center">No se encontraron mensajes.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-lg-2 background">
    </div>
  </div>
</div>
