
.container {
    width: 100%;
    margin:0px !important;
    padding: 0px !important;
    max-width: unset;
}
.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 121, 175);
    background-size: cover;
    color: rgb(67, 67, 67);
    text-align: center;
 }

 .p-style{
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin:auto;
 }

 
 
