<div class="container">
  <div class="row">
    <div class="col-6 col-lg-6 background">
      <div class="d-flex align-items-center h-100">
        <div class="mx-auto">
            <img src="../../assets/users.svg" width="30" height="30">
            <span class="p-style">Entérate de lo que está hablando la gente.</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-6">
      <div class="d-flex align-items-center h-100">
          <div class="d-block mx-auto">
              <button type="button" [routerLink]="['/login']" class="btn btn-primary btn-lg btn-block">Inicia Sesión</button>
              <button type="button" [routerLink]="['/registro']" class="btn btn-secondary btn-lg btn-block">Regístrate</button>
          </div>
      </div>
    </div>
  </div>
</div>
